<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/main.css" />
    <!-- add the bootstrap here -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <title>Main Page</title>
    <style>
      #navbar {
        display: none;
        position: fixed;
        top: 0;
        width: 100%;
        background-color: #f8f9fa;
        z-index: 1000;
      }
    </style>
  </head>

  <body>
    <!-- navigation bar -->
    <nav id="navbar" class="navbar navbar-expand-lg navbar-light bg-success">
      <div class="container-fluid">
        <!-- application name -->
        <a class="navbar-brand" href="#">Feastly</a>
        <!-- when the screen becomes small, the links in the nav bar switches to a button -->
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <!-- navigation links -->
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a class="nav-link" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#about-us">About Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/login-page">Login</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Feastly start section -->
    <div
      class="d-flex justify-content-center align-items-center bg-success-subtle"
      style="height: 100vh"
    >
      <div class="container-fluid text-center">
        <!-- header -->
        <h1>Feastly</h1>
        <p>scroll to continue</p>
        <!-- Login button -->
        <button class="btn btn-success">
          <a href="/login-page">Login</a>
        </button>
      </div>
    </div>

    <!-- about us section -->
    <div id="about-us" class="container-fluid text-center p-5">
      <!-- section title -->
      <h1>ABOUT US</h1>
      <div class="about-box bg-success-subtle rounded p-4">
        <div class="mb-4">
          <!-- section title -->
          <h2>- Who are we? -</h2>
          <!-- description of what the application is about -->
          <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Id sit
            facilis illum assumenda, ipsum aliquid non beatae, eveniet deserunt
            ducimus atque porro repudiandae saepe adipisci reprehenderit nobis
            veritatis quibusdam dolorum?
          </p>
        </div>
        <div>
          <!-- section title -->
          <h2>- What do we do? -</h2>
          <!-- description of how the application works-->
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores,
            exercitationem doloribus sit vel vero eius! Architecto suscipit
            numquam recusandae inventore quis vero culpa laboriosam, ut
            reiciendis quaerat sint facere magni!
          </p>
        </div>
      </div>
    </div>

    <!-- footer section -->
    <footer class="bg-success-subtle text-center p-3 mt-5">
      <a href="#about-us">About Us</a>
      <p>&copy; 2025 Feastly</p>
    </footer>

    <!-- bootstrap popper for the dropdowns in navbar -->
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
      integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"
      integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy"
      crossorigin="anonymous"
    ></script>
  </body>

  <script>
    // when the user scrolls, the navigation bar will appear
    window.addEventListener("scroll", () => {
      const navbar = document.getElementById("navbar");
      if (window.scrollY > 100) {
        navbar.style.display = "block";
      } else {
        navbar.style.display = "none";
      }
    });
  </script>
</html>
